

.back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    backdrop-filter: blur(3px);
    animation: fadeIn 0.2s ease-out;
}
  
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    animation: scaleIn 0.2s ease-out;
}
  
.modal {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 600px;
    overflow: hidden;
    position: relative;
    padding: 16px;
}
  
.modal-header {
    padding: 16px 24px;
    border-bottom: 1px solid #757575;
    display: flex;
    align-items: center;
}

.header {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 14px;
    right: 14px;
    background: transparent;
    border: none;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #666;
    transition: all 0.2s;
}
  
.close-button:hover {
    background-color: #f5f5f5;
    color: #333;
}
  
.modal-content {
    padding: 24px;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
  
.modal-action {
    padding: 16px 24px;
    border-top: 1px solid #757575;;
}
  
.actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
  
.save-button, .cancel-button {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}
  
.save-button {
    background-color: #a472ff;
    color: white;
    border: none;
}
  
.save-button:hover {
    background-color: #965eff;
    animation: slideUp 0.3s ease forwards;
}

.save-button:not(:hover){
    animation: slideDown 0.3s ease forwards;
}
  
.cancel-button {
    background-color: white;
    color: #666;
    border: 1px solid #ddd;
}
  
.cancel-button:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
    animation: slideUp 0.3s ease forwards;
}

.cancel-button:not(:hover){
    animation: slideDown 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes scaleIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
}
  

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0);
    }
}
